<!DOCTYPE html>
<html lang="en">
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body>
    <div th:replace="fragments.html :: main-nav"></div>


    <div class="py-5 text-center" th:if="${error}">
        <p class="lead"> 이메일 확인 다시하셈</p>
        <div class="alert alert-danger" role="alert">
            다시!
        </div>
    </div>
    <div class="py-5 text-center" th:if="${error == null}">
        <span th:text="${numberOfUser}"></span>번째 형님 가입 환영

    </div>

    <div th:replace="fragments.html :: footer"></div>

</body>
</html>